<ion-header>
  <ion-navbar color="primary">
    <ion-title text-center>{{subtitle}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fluidos">
<!--  <ion-item>
        <ion-label stacked>Nombre</ion-label>
        <ion-input [(ngModel)]="user.name" type="text" value="{{user.name}}" [disabled]="edit ? null : '' " ></ion-input>
      </ion-item> -->
  <ion-list>
    <div *ngIf="soloVer" class="edit">
      <ion-item  >
        <ion-avatar item-start>
          <img src="{{fluidosMantenimiento.getTaller().getImg().getSrc()}} ">
        </ion-avatar>
        <h2>Taller: {{fluidosMantenimiento.taller.getNombre() ? taller : "No hay taller"}}</h2>
        <h3>Km: {{fluidosMantenimiento.km}}</h3>
        <p>Fecha {{printTime(fluidosMantenimiento.created_at)}}</p>
      </ion-item>

      <ion-item>
        <ion-label>Aceite</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.aceite" color="primary" checked="fluidosMantenimiento.aceite"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Direccion</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.direccion" color="primary" checked="fluidosMantenimiento.direccion"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Refrigeración</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.refrigeracion" color="primary" checked="fluidosMantenimiento.refrigeracion"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Valvulina</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.valvulina" color="primary" checked="fluidosMantenimiento.valvulina"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Filtro Aceite</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.filtroAceite" color="primary" checked="fluidosMantenimiento.filtroAceite"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Filtro Combustible</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.filtroCombustible" color="primary" checked="fluidosMantenimiento.filtroCombustible"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Filtro Habitáculo</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.filtroHabitaculo" color="primary" checked="fluidosMantenimiento.filtroHabitaculo"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Filtro Dirección</ion-label>
        <ion-toggle  [disabled]="edit ? null : '' "  [(ngModel)]="fluidosMantenimiento.filtroDireccion" color="primary" checked="fluidosMantenimiento.filtroDireccion"></ion-toggle>
      </ion-item>

      <ion-fab *ngIf="soloVer" right bottom>
        <button ion-fab color="red"
          (click) ="toogleEdit()">
          <ion-icon name="brush"></ion-icon></button>
      </ion-fab>
      <ion-fab *ngIf="soloVer && edit" left bottom>
        <button ion-fab color="green"
          (click) ="storage(fluidosMantenimiento)">
          <ion-icon name="paper-plane"></ion-icon></button>
      </ion-fab>


    </div> <!-- fin edit -->

    <div *ngIf="!soloVer" class="noEdit">
      <ion-item  *ngFor="let mant of listaMantenimientos"
        (click) = "pushPag('fluidos' , {
                        edit: false,
                        mantenimiento : mant,
                        soloVer : true})"
      >
     <!--  <ion-content> Km: {{mant.km}}</ion-content>
        <button float-right ion-button>Fecha {{printTime(mant.created_at)}} </button> -->
        <ion-avatar item-start>
          <img src="{{fluidosMantenimiento.getTaller().getImg().getSrc()}} ">
        </ion-avatar>
        <h2>Taller: {{mant.taller ? taller : "No hay taller"}}</h2>
        <h3>Km: {{mant.km}}</h3>
        <p>Fecha {{printTime(mant.created_at)}}</p>
      </ion-item>

    </div>

  </ion-list>


</ion-content>
